{% load static %}

<link rel="stylesheet" href="{% static 'games/style.css' %}">

{% include 'navbar.html' with current="games" %}

<h1>Details: {{ game.datetime }}</h1>

<table>
    <tr>
    
        <td>
            <ol>
                {% for name, elo in red_team_elos.items %}
                    <li>
                        <a style="color: red" href="{% url 'players:player' name %}">{{ name }} ({{ elo }})</a>
                    </li>
                {% endfor %}
            </ol>
        </td>
        <td>
            <ol>
                {% for name, elo in blue_team_elos.items %}
                    <li><a style="color: blue" href="{% url 'players:player' name %}">{{ name }} ({{ elo }})</a></li>
                {% endfor %}
            </ol>
        </td>
        <td style="color: {{ winner_color }}">{{ game.winners }}</td>
        <td>{{ game.board }}</td>

    </tr>
</table>