{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% include 'players/bokeh_css.html' %}
    </head>

    <body>
        <h1>Players</h1>
        {% if player_list %}
        <ul>
        {% for player in player_list %}
            <li><a href="{% url 'players:player' player.name %}">{{ player }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No players found</p>
        {% endif %}

        <h2>Player Elos</h2>
        {{ hist_elo_div | safe }}

        <h2>Elo Distribution</h2>
        {{ elo_dist_div | safe }}
        
    </body>
    
    {% include 'players/bokeh_scripts.html' %}
    {{ hist_elo_script | safe }}
    {{ elo_dist_script | safe }}
</html>